.cont{
    width: 100%;
}
/* 上方卡片最近工程 */
.top_card{
    width: 100%;
    height: 250px;
    overflow: auto;
    
}
.top_card::-webkit-scrollbar{
display: none;
}
/* 下方卡片数据反馈 */
.bottom_card{
    width: 100%;
    height: 380px;
    margin-top: 20px;
    overflow: auto;
}
.bottom_card::-webkit-scrollbar {
    display: none;
}
.image{
    width: 60%;
    height: 160px;
    /* min-width: 160px; */
    margin-left: 20px;
    background-image: url('../../../assest/images/data.jpg');
    background-size: 100% 100%;
}
@media screen and (min-width:2048px) {
    .top_card {
            width: 100%;
            /* height: 30vh; */
            overflow: auto;
    min-height: 250px;
        }
/* .bottom_card{
    margin-top: 2vh;
    height: 25vh;
    min-height: 230px;
}
.image{
    height: 20vh;
    min-height: 160px;
} */
}