.messagelist{
    width: 100%;
        height: 45vh;
    border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        overflow:auto;
        display: flex;
        flex-wrap: wrap;
        /* background-color: red; */
}
.messagelist::-webkit-scrollbar{
    display: none;
}
.messagecard{
    width: 330px;
    height: 180px;
    margin-left: 1%;
    margin-top: 1%;
    background: linear-gradient(to bottom, #E8EEFF, #C3DBF2);
    display: flex;
    flex-direction: column;
    position: relative;
}
.model_name_msg{
    margin-top: -10px;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.msg_position{
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.msg_apply_disagree{
position: absolute;
right: 100px;
bottom: 10px;
background-color: #f56c6c;
color: #fff;
}
.msg_apply_agree {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #59a0e1;
        color: #fff;
}