.messagebox{
width: 100%;
    height: 45vh;
    padding: 10px;
        border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
}
.messagebox::-webkit-scrollbar {
    display: none;
}
.messagelist{ 
        display: flex;
        flex-wrap: wrap;
        /* background-color: red; */
}

.messagecard{
    width: 330px;
    height: 180px;
    margin-left: 1%;
    margin-top: 1%;
    background: linear-gradient(to bottom, #E8EEFF, #C3DBF2);
    display: flex;
    flex-direction: column;
    position: relative;
    border: 0px;
}
.model_name_msg{
    margin-top: -10px;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.msg_position{
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* 我的消息下方按钮 */
.msg_apply_disagree{
position: absolute;
right: 100px;
bottom: 10px;
background-color: #f56c6c;
color: #fff;
}
.msg_apply_agree {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #59a0e1;
        color: #fff;
}
.my_choice{
    position: absolute;
        right: 10px;
        bottom: 10px;
        color: #fff;
        width: 60px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            border-radius: 5px;
}
/* 我的作品下方被调用次数盒子 */
.model_use_time{
    position: absolute;
    right: 10px;
        bottom: 10px;
        width: 180px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            border-radius: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
}
/* 我的申请下方显示通过或拒绝的盒子 */
.my_apply_condition{
    position: absolute;
    right: 10px;
        bottom: 10px;
        color: #fff;
        width: 60px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        border-radius: 5px;
}
.isagree,.choise_agree{
    background-color: #59a0e1;
}
.isdisagree,.choise_disagree{
    background-color: #f56c6c;
}
.msg_page{
    margin-top: 15px;
}